body{
  background-color: red;
}
#button{
  font-weight: bold;
  color: white;
  border-radius: 2rem;
  width: 95.02px;
  height: 42.66px;
  border: none;
  background-color: #19C13A;
  display: flex;
  justify-content: center;
  align-items: center;
}